.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddf3f5;

  &__title {
    margin: 2rem 0;
    font-size: 3rem;
  }

  &__search {
    width: 20rem;
    height: 3rem;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  &__weather {
    width: 100%;
    max-width: 1200px;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
}
